{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djangobook</title>
    <link href="{%static 'css\header.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="logo">
                <img src="{%static 'img/logo.png' %}" class="logo-img" alt="logo-img">
            </div>
            <div class="search-bar">
                <div class="input-container">
                    <label class="input-text">
                        <input type="text" placeholder="Search on Djangobook" class="input-text">
                        <span class="search-icon">
                            <img src="{%static 'img/search-icon.png' %}" class="icon" alt="search-icon">
                        </span>
                    </label>
                </div>
            </div>
            <div class="shortcuts">
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/profile-icon.png' %}" class="icon" alt="profile-icon">
                    </a>
                </div>
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/messages-icon.png' %}" class="icon" alt="messages-icon">
                    </a>
                </div>
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/notifications-icon.png' %}" class="icon" alt="notifications-icon">
                    </a>
                </div>
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/settings-icon.png' %}" class="icon" alt="settings-icon">
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>
