{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djangobook-signup</title>
    <link href="{%static css/signup.css %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{%static js/main.js}"></script>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="hi-wrapper">
                <h1 class="text">Welcome to</h1>
                <img src="{%static img/logo.png"} class="logo" alt="logo">
            </div>
            <button class="login-button">
                <span class="button-text">Login</span>
            </button>
        </div>
    </header>
    <div class="content">
        <div class="signup-wrapper">
            <h1 class="text" id="signup-text">Sign Up</h1>
            <form class="signup-wrapper">
                <label class="signup-label">
                    <input type="text" placeholder="First Name" class="input-text">
                </label>
                <label class="signup-label">
                    <input type="text" placeholder="Second Name" class="input-text">
                </label>
                <label class="signup-label">
                    <input type="text" placeholder="Email" class="input-text">
                </label>
                <label class="signup-label">
                    <input type="text" placeholder="Password" class="input-text">
                </label>
                <label class="signup-label">
                    <input type="text" placeholder="Confirm Password" class="input-text">
                </label>
            </form>
            <div class="button">
                <button class="login-button" id="login-button">
                    <span class="button-text">Sign Up</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>